<ul>
    <li><a routerLink="/login" routerLinkActive="active">login</a></li>
    <li><a routerLink="/home" routerLinkActive="active">home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">about</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
    
    <li><a routerLink="/userslist" routerLinkActive="active">userslist</a></li>
    <li><a routerLink="/addusers" routerLinkActive="active">AddUser</a></li>
    <!-- <li><a routerLink="/updateuser" routerLinkActive="active">UpdateUsers</a></li> -->
    <!-- <button (click)="navigate()">Naviagte</button> -->
</ul>
<router-outlet></router-outlet>
