
<div class="container">
    <h2>Welcome to Our Angular Application!</h2>
    <p>{{ angularInfo }}</p>
    <a routerLink="/about" class="btn">Learn More</a>
</div>





<!-- <div *ngFor="let m of ts.mobiles">{{m}}</div>

<style>
    body {
        background-color: #4fe8ba; /* Red background color */
    }
</style> -->

<!-- <ul>
    <li><a routerLink="/home/child-Component1" routerLinkActive="active">child1</a></li>
    <li><a routerLink="/home/child-Component2" routerLinkActive="active">child2</a></li>
    <li><a routerLink="/home/child-Component3" routerLinkActive="active">child3</a></li>
</ul> -->

<router-outlet></router-outlet>